/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin:auto;
}
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
 
  